body {
    margin: 0;    
}
h1 {
    text-align: center;
}
header ,footer {
    text-align: center;
    background-color: #EEF8FC;
    margin-top: 2px;
    margin-bottom: 2px;
    overflow: hidden;
}
.left {
    width: 45%;
    float: left;
    /* background-color: #b2bec3; */
    padding: 2%;      
    
}
.right {
    width: 45%;
    overflow: hidden;
     /* background-color: #ffeaa7;  */
    padding-left: unset;
    padding: unset;    
}
.right img, .left img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.middle , .bottom {
    overflow: hidden;
}

