body {
    margin: 0;
    background-image: url(images/background.png);    
}
p {
    font-size: 50px;
}
header {
    text-align: center;
    color: cornsilk;
    overflow: hidden;
    margin: 40px;
}
.button {
    background-color: #4CAF50;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .assignments {
      text-align: center;
  }
  footer p {
      font-size: 12px;
      color: aliceblue;
     text-align: center;
  }