body {
  margin: 0;
  background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.banner {
  background-image: url(images/luxury-quotes-46.jpg);
  background-repeat: no-repeat;
  background-position: fixed;
  min-height: 438px;
  background-position: right;
  /* overflow: hidden; */
  padding-bottom: 100px;
  text-align: center;
}
.banner img{
  width: 30%;  
}

.banner p {
  color: cornsilk;
  text-align: center;
  font-size: 50px;  
  max-height: 400px;
}
.left img {
  width: 25%;
}

.left{
  margin-top: 0;
  width: 40%;
  float: left;
  text-align: center;
}
.right {
  margin-top: 0;
  width: 50%;
  overflow: hidden;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}
h1,h3,.focus {
  color: #f39c12;
}
p {
  color: wheat;
}
.middle {
  overflow: hidden;
}
footer {
  color: cornsilk;
  text-align: center;
  overflow: hidden;
  margin: 10px;
}
.alteco {
  font-size: 80px;
  color: #f39c12;
}